pandas
numpy
matplotlib
torch
transformers
sentence_transformers
tqdm
scikit-learn
gensim
contractions
langdetect
nltk
tiktoken
langchain==0.1.11
langchain_community
faiss-cpu
ipython
ipykernel
plotly
flask